img {width: 300px;}
/* Global Styles
---------------------------------------------------*/
html {box-sizing: border-box;}
h1 {font-family: 'Abril Fatface', cursive; font-size: xx-large; font-kerning: 100px;}
h2 {font-family: 'Comfortaa', cursive;font-weight: 700;}
body {
    background-color: rgba(193, 174, 124, 95%); margin: 0;
    }
    
img {
        width: 300px;
    }
a {background-color: #a8b8dd; color: black; text-decoration: none;}
a:hover {background-color: rgba(250, 217, 221, 65%);}
.content-wrap {width: 900px; margin: 0auto
    ;}
/*Profile
---------------------------------------------------*/
.top {font-family: 'Abril Fatface', cursive;}    
header {padding: 50px 0; background-color: rgb(0, 145, 145); text-align: center; width: 900px; margin: 0 auto;}
/* Projects 
---------------------------------------------------*/    
    .projects a {color:black; background-color: #a8b8dd; text-decoration: none; padding: 8px; border-radius: 4px; -webkit-text-fill-color: azure}
   
    .projects a:hover {background: rgba(250, 217, 221, 65%)}
    .projects {width: 900px; margin: 50px; text-align: center; display: inline-block;}
/* Work Experience
---------------------------------------------------*/
    .work-experience {background: #702632;}
/*Education
---------------------------------------------------*/
    .education {background: #702632;}
/* Contact Information
---------------------------------------------------*/
    footer {background: rgb(0, 145, 145);}